// Spotify Colors
$primary: #2ab759;
$background: #181818;
$black: #121212;
$lightBlack: #282828;
$bgInput: #a0a0a0;

$gradient: linear-gradient(45deg, #181818 30%, #3c3c3c 130%);
$gradientFilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#3c3c3c',GradientType=1 );

body {
    color: $bgInput;
    font-family: 'Montserrat', sans-serif;
    background: $gradient;
    filter: $gradientFilter;
    min-height: 100vh;
    height: 100%;

    #root {
        margin: -7px;

        .btn {
            &.btn-success {
                background-color: $primary;
            }
        }
    }
}